<!DOCTYPE html>
<html lang="en">
<head>
	<script src="/static/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="/static/js/three.js"></script>
	<script src="/static/js/TrackballControls.js"></script>
	<script src="js/OBJLoader.js"></script>
	<title>Home Page</title>
</head>
<body>
	<h1 style="position:absolute;left:20px">Index Page</h1>
	<a class="btn btn-lg btn-primary" href="/app/profile/" style="position:fixed;bottom:45px;left:50%;transform:translate(-50%, -50%);">Enter</a>
</body>
</html>
